
*{
    margin: 0;
    padding: 0;
    list-style: none;
}


header .container{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 71px;
}

.logo img{
    width: 155px;
    height: 70px;
}
  
header nav ul{
    width: 120px;
    display: flex;
    justify-content: space-between;
}

header nav ul a{
    text-decoration: none;
    margin: 0 10px;
    list-style: none;
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
}

header nav ul a:hover{
    color: #999;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}

.area-moda h1{
    font-family: roboto;
    font-weight: 400;
    font-size: 36px;
    margin: 20px 0;
}

.area-moda p{
    font-family: roboto;
    font-size: 14px;
    margin: 20px 0;
    font-weight: 400;
    color:#6C6969;
}

.cards{
    display: flex;
    justify-content:space-between;
    margin: 40px 0;
}

.cards .card{
    width: 250px;
    height: 370px;
    border: 1px solid #9E9B9B;
    display: flex;
    flex-direction: column;
    
}

.card h2{
    font-family: roboto;
    font-size: 24px;
    color:#660027;
    margin: 20px 20px;
    font-weight: 400;
}

.card p{
    width: 1200px;
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
    width: 197px;
    margin: 0 20px;
    overflow-wrap: break-word;
}

.card img{
    width: 250px;
    height: 150px;
}

.card .button{
    
    border: 2px solid #660027;
    text-decoration: none;
    margin: 20px 30px;
    font-size: 14px;
    font-family: roboto;
    font-weight: 400;
    text-align: center;
    width: 100px;
    padding: 10px 10px;
    border-radius: 4px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color:#660027;
    
}

footer p{
    width: 400px;
    font-family: roboto;
    font-size: 14px;
    padding: 5px;
    color: #ffffff;
    text-align: center;
   
   
}

