@media(max-width: 600px){

    header nav,
    header nav ul{
        
        flex-direction: column;
    }

    header .container{
        flex-direction: column;
        margin: auto;
    }

    main .image img{
        width: 300px;
    }

    .area-moda{
        width: 320px;
    }

    .cards{
        flex-direction: column;
    }
   

}

    

    


