@media(max-width: 600px){

    header nav,
    header nav ul{
        
        flex-direction: column;
        justify-content: center;
    }

    header .container{
        flex-direction: column;
        
    }

    main{
        max-width: 320px;
        margin: 0 30px;
    }

    main .image img{
        width: 300px;
    }

    .area-moda{
        width: 320px;
    }

    .cards{
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 0 30px;
        
    }

    .card{
        margin: 20px 0;
    }
   

}

    

    


